<template>
  <div>
    <!-- 商品分类导航 -->
    <div class="type-nav">
      <div class="container">
        <div @mouseleave="leaveShow" @mouseenter="enterShow">
          <h2 class="all">全部商品分类</h2>
          <transition name="sort">
            <div class="sort" >
              <div class="all-sort-list2" @click="goSearch" v-show="show">
                <div class="item" v-for="(c1, index) in categoryList" :key="c1.categoryId"
                  :class="{ cur: currentIndex == index }">
                  <h3 @mouseenter="changeIndex(index)">
                    <a :data-catagoryName="c1.categoryName" :data-catagory1Id="c1.categoryId">{{ c1.categoryName
                    }}</a>
                  </h3>
                  <div class="item-list clearfix" :style="{ display: currentIndex == index ? 'block' : 'none' }">
                    <div class="subitem">
                      <dl class="fore" v-for="(c2, index) in c1.categoryChild" :key="c2.categoryId">
                        <dt>
                          <a :data-catagoryName="c2.categoryName" :data-catagory2Id="c2.categoryId">{{
                            c2.categoryName }}</a>
                        </dt>
                        <dd v-for="(c3, index) in c2.categoryChild" :key="c3.categoryId">
                          <em>
                            <a :data-catagoryName="c3.categoryName" :data-catagory3Id="c3.categoryId">{{
                              c3.categoryName }}</a>
                          </em>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
                  </transition>
        </div>
        <nav class="nav">
          <a href="###">服装城</a>
          <a href="###">美妆馆</a>
          <a href="###">尚品汇超市</a>
          <a href="###">全球购</a>
          <a href="###">闪购</a>
          <a href="###">团购</a>
          <a href="###">有趣</a>
          <a href="###">秒杀</a>
        </nav>

      </div>
    </div>
  </div>
</template>

<script>
import throttle from 'lodash/throttle'
import { mapState } from 'vuex'
export default {
  name: 'TypeNav',
  data() {
    return {
      currentIndex: -1,
      show: true
    }
  },
  mounted() {
   
    if (this.$route.path != "/home") {
      this.show = false
    }
  },
  computed: {
    ...mapState({
      categoryList: state => {
        return state.home.categoryList.slice(0, 16)
      }
    })
  },
  methods: {
    changeIndex: throttle(function (index) {
      this.currentIndex = index
    }, 50),
    leaveShow() {
      this.currentIndex = -1
      if (this.$route.path != "/home")
        this.show = false
    },
    enterShow() {
      if (this.$route.path != "/home")
        this.show = true
    },
    goSearch(event) {
      let element = event.target;
      console.log(element)
      let { catagoryname, catagory1id, catagory2id, catagory3id } = element.dataset

      if (catagoryname) {
        let location = { name: 'search' };
        let query = { catagoryName: catagoryname };
        if (catagory1id) { query.catagory1Id = catagory1id }
        else if (catagory2id) {
          query.catagory2Id = catagory2id
        }
        else { query.catagory3Id = catagory3id }
        if(this.$route.params){
          location.params=this.$route.params
          location.query = query
          this.$router.push(location)
        }

        
      }


    }
  }
}
</script>

<style lang="less" scoped>
.type-nav {
  border-bottom: 2px solid #e1251b;

  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;

    .all {
      width: 210px;
      height: 45px;
      background-color: #e1251b;
      line-height: 45px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }

    .nav {
      a {
        height: 45px;
        margin: 0 22px;
        line-height: 45px;
        font-size: 16px;
        color: #333;
      }
    }

    .sort {
      position: absolute;
      left: 0;
      top: 45px;
      width: 210px;
      height: 461px;
      position: absolute;
      background: #fafafa;
      z-index: 999;

      .all-sort-list2 {
        .item {
          h3 {
            line-height: 30px;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            padding: 0 20px;
            margin: 0;

            a {
              color: #333;
            }
          }

          .item-list {
            display: none;
            position: absolute;
            width: 734px;
            min-height: 460px;
            background: #f7f7f7;
            left: 210px;
            border: 1px solid #ddd;
            top: 0;
            z-index: 9999 !important;

            .subitem {
              float: left;
              width: 650px;
              padding: 0 4px 0 8px;

              dl {
                border-top: 1px solid #eee;
                padding: 6px 0;
                overflow: hidden;
                zoom: 1;

                &.fore {
                  border-top: 0;
                }

                dt {
                  float: left;
                  width: 54px;
                  line-height: 22px;
                  text-align: right;
                  padding: 3px 6px 0 0;
                  font-weight: 700;
                }

                dd {
                  float: left;
                  padding: 3px 0 0;
                  overflow: hidden;

                  em {
                    float: left;
                    height: 14px;
                    line-height: 14px;
                    padding: 0 8px;
                    margin-top: 5px;
                    border-left: 1px solid #ccc;
                  }
                }
              }
            }
          }

          &:hover {
            .item-list {
              display: block;
            }
          }
        }

        .cur {
          background: skyblue;
        }
      }
    }
    .sort-enter{
      height: 0;
    }
    .sort-enter-to{
      height: 461px;
    }
    .sort-enter-active{
      transition:all 0.5s linear;
   }
  }
}
</style>






